.cell{
    width: 150px;
    height: 150px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 120px;
    font-size: 120px;
    cursor: pointer;
}
.game{
    text-align: center;
    font-family: "Permanent Marker", cursive ;
}


#cellContainer{
    display: grid;
    grid-template-columns: repeat(3 , auto);
    width: 450px;
    margin: auto;
}


#restartBtn{
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    font-family: "Permanent Marker", cursive ;
    font-size: larger;
}
